<!--Table-Contextual-->
<!--对应的是政策文件Words-->
<section class="mea-our-team-section section-padding section-dark" style="padding-bottom: 100px;background-color:#EEEEEE;">
    <div class="container" style="text-align:center">
        <div class="col-sm-12">
            <div class="title-container text-left sm">
                <div class="title-wrap">
                    <h1 class="title" style="font-size: 25px;">文件汇编</h1>
                    <span class="separator line-separator"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="width:1000px;">
        <md-card>
            <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.filter.show">
                <div class="md-toolbar-tools">
                    <h2 class="md-title" style="font-size: 22px;">文件汇编</h2>
                    <div flex></div>
                    <div class="mdui-textfield mdui-textfield-expandable" style="max-width:30%">
                        <button class="mdui-textfield-icon mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></button>
                        <input class="mdui-textfield-input" type="text" placeholder="Search" ng-model="search" />
                        <button class="mdui-textfield-close mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">close</i></button>
                    </div>
                </div>
            </md-toolbar>

            <md-content>
              <div class="card nav-tabs-ver-container" style="height: 350px;">
                <div class="row">
                  <div class="col-lg-3" style="flex: 0 0 30%; display: inline-block;max-width: 18%;min-width: 20%;background-color: rgba(38,65,254,0.36); padding-right: 0px;padding-left: 15px;" >
                    <ul class="nav nav-tabs-ver " role="tablist" style="font-size: 14px;color: #971f3c;width: 100%;">
                      <li class="nav-item  mdui-ripple" style="width: 160px;text-align: center;max-height: 40px;min-height: 35px;">
                        <a class="nav-link active" href="#zhaosheng" aria-controls="zhaosheng" role="tab" data-hover="tab" data-toggle="tab">
                           <i class="glyphicon glyphicon-hand-right" style="transform: rotate(360deg);"></i>招生工作
                        </a>
                      </li>
                      <li class="nav-item  mdui-ripple" style="width: 160px;text-align: center;">
                        <a class="nav-link" href="#peiyang" aria-controls="peiyang" role="tab" data-hover="tab" data-toggle="tab">
                           <i class="glyphicon glyphicon-hand-right" ></i>培养工作
                        </a>
                      </li>
                      <li class="nav-item mdui-ripple" style="width: 160px;text-align: center;">
                        <a class="nav-link" href="#xuewei" aria-controls="xuewei" role="tab" data-hover="tab" data-toggle="tab">
                           <i class="glyphicon glyphicon-hand-right" ></i>学位工作
                        </a>
                      </li>
                      <li class="nav-item mdui-ripple" style="width: 160px;text-align: center;">
                        <a class="nav-link" href="#daoshi" aria-controls="daoshi" role="tab" data-hover="tab" data-toggle="tab">
                           <i class="glyphicon glyphicon-hand-right" ></i>导师管理
                        </a>
                      </li>
                      <li class="nav-item mdui-ripple" style="width: 160px;text-align: center;">
                        <a class="nav-link active" href="#xueji" aria-controls="xueji" role="tab" data-hover="tab" data-toggle="tab">
                           <i class="glyphicon glyphicon-hand-right" ></i>学籍管理
                        </a>
                      </li>
                      <li class="nav-item mdui-ripple" style="width: 160px;text-align: center;">
                        <a class="nav-link" href="#jiangzhu" aria-controls="jiangzhu" role="tab" data-hover="tab" data-toggle="tab">
                           <i class="glyphicon glyphicon-hand-right" ></i>奖助工作
                        </a>
                      </li>
                      <li class="nav-item mdui-ripple" style="width: 160px;text-align: center;">
                        <a class="nav-link" href="#zaizhi" aria-controls="zaizhi" role="tab" data-hover="tab" data-toggle="tab">
                           <i class="glyphicon glyphicon-hand-right" ></i>在职培养
                        </a>
                      </li>
                      <li class="nav-item mdui-ripple" style="width: 160px;text-align: center;">
                        <a class="nav-link" href="#others" aria-controls="others" role="tab" data-hover="tab" data-toggle="tab">
                           <i class="glyphicon glyphicon-hand-right" ></i>&nbsp;>>其它
                        </a>
                      </li>
                    </ul>
                  </div>

                  <div class="col-lg-9 nav-tabs-ver-container-content" style="min-width: 80%; display: inline-block;">
                    <div class="card-block" style="padding-top: 20px;">
                      <div class="tab-content" style="font-size: 15px;line-height: 20px;justify-content:center;">

                        <div role="tabpanel" class="tab-pane fade in active" id="zhaosheng">
                          <ul>
                            <li>
                              <a href="">
                                <span> >>&nbsp; </span>
                                <span>河北工程大学招收攻读硕士学位研究生入学考试自命题工作管理办法[校研〔2014〕8号]</span>
                                <span class="info_info01_span">2016-10-09</span>
                              </a>
                            </li>
                          </ul>
                        </div>

                        <div role="tabpanel" class="tab-pane fade " id="peiyang">
                          <ul>
                            <li>
                              <a href="">
                                <span> >>&nbsp; </span>
                                <span>河北工程大学招收攻读硕士学位研究生入学考试自命题工作管理办法[校研〔2014〕8号]</span>
                                <span class="info_info01_span">2016-10-09</span>
                              </a>
                            </li>
                          </ul>
                          <ul>
                            <li>
                              <a href="">
                                <span> >>&nbsp; </span>
                                <span>河北工程大学招收攻读硕士学位研究生入学考试自命题工作管理办法[校研〔2014〕8号]</span>
                                <span class="info_info01_span">2016-10-09</span>
                              </a>
                            </li>
                          </ul>
                        </div>

                        <div role="tabpanel" class="tab-pane fade " id="xuewei">
                          <ul>
                            <li>
                              <a href="">
                                <span> >>&nbsp; </span>
                                <span>河北工程大学招收攻读硕士学位研究生入学考试自命题工作管理办法[校研〔2014〕8号]</span>
                                <span class="info_info01_span">2016-10-09</span>
                              </a>
                            </li>
                          </ul>
                          <ul>
                          <li>
                            <a href="">
                              <span> >>&nbsp; </span>
                              <span>河北工程大学招收攻读硕士学位研究生入学考试自命题工作管理办法[校研〔2014〕8号]</span>
                              <span class="info_info01_span">2016-10-09</span>
                            </a>
                          </li>
                        </ul>
                          <ul>
                          <li>
                            <a href="">
                              <span> >>&nbsp; </span>
                              <span>河北工程大学招收攻读硕士学位研究生入学考试自命题工作管理办法[校研〔2014〕8号]</span>
                              <span class="info_info01_span">2016-10-09</span>
                            </a>
                          </li>
                        </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane fade " id="daoshi">

                        </div>
                        <div role="tabpanel" class="tab-pane fade " id="xueji">

                        </div>
                        <div role="tabpanel" class="tab-pane fade " id="jiangzhu">

                        </div>
                        <div role="tabpanel" class="tab-pane fade " id="zaizhi">

                        </div>
                        <div role="tabpanel" class="tab-pane fade " id="others">

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </md-content>
         <style>
           .tab-content div ul li a{
             color: black;
           }
           .tab-content div ul li a:hover{
             color: #971f3c;
           }

           .zmdi {
             display: inline-block;
             font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
             font-size: inherit;
             text-rendering: auto;
             -webkit-font-smoothing: antialiased;
           }
         </style>
            <!--<md-table-container>-->
                <!--<table md-table>-->
                    <!--<thead md-head md-order="vm.query.order" md-on-reorder="vm.getBlogs">-->
                        <!--<tr md-row>-->
                            <!--<th md-column md-order-by="originalFilename"><span>文件名称</span></th>-->
                            <!--<th md-column md-order-by="time"><span>时间</span></th>-->
                            <!--<th md-column md-order-by="size"><span>大小</span></th>-->
                            <!--<th md-column><span>浏览</span></th>-->
                        <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody md-body>-->
                        <!--<tr md-row ng-repeat="file in vm.file|filter:search| orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">-->
                            <!--<td md-cell>{{file.originalFilename}}</td>-->
                            <!--<td md-cell>{{file.time|date:'yyyy-MM-dd'}}</td>-->
                            <!--<td md-cell>{{file.size}}</td>-->
                            <!--<td md-cell>-->
                                <!--<md-button class="md-icon-button md-ink-ripple" ng-href='{{vm.websiteip + "file/download?_id=" + file._id}}'>-->
                                    <!--<md-icon class="material-icons">file_download</md-icon>-->
                                    <!--<div class="md-ripple-container"></div>-->
                                <!--</md-button>-->
                            <!--</td>-->
                        <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</md-table-container>-->
            <!--<md-table-pagination md-limit="vm.query.limit" md-limit-options="vm.limitOptions" md-page="vm.query.page" md-total="{{vm.file.length}}" md-page-select=true md-on-paginate=true></md-table-pagination>-->
        </md-card>
    </div>
</section>
